body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// layout/Modal.tsx
body {
  &:not(.visible) #modal {
    visibility: hidden;
    display: none;
  }
  &.visible {
    #modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1001;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
